h1 {
    font-size: 2.2em !important;
    color: grey;
    font-weight: bold;
}
li {
    margin-top: -3px;
}
ul {
    width: 91%;
}
pre {
    width: 91%;
}

:not(pre) > code::before, :not(pre) > code::after {
	content: "";
}

ul li {list-style-type: disc;}
